<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="bookManager" class="com.projet3.webservice.Business.impl.BookManagerImpl">
    </bean>

    <bean id="managerFactory" class="com.projet3.webservice.Business.impl.ManagerFactoryImpl">
    	<property name="bookManager" ref="bookManager"/>
    </bean>
    
    <bean id="bookService" class="com.projet3.webservice.Service.Book">
    	<property name="managerFactory" ref="managerFactory"/>
    </bean>

</beans>